* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    text-align: center;
}

nav li {
    list-style: none;
    /* margin-right: 40px; */
    margin-left: 40px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 5px;
    background: #FF900E;
    padding: 10px 20px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.banner img {
    width: 100%;
}

.bannerImg {
    width: 100%;
    height: 100%;
}

/* main section related styles */
/* main section related styles */


.teams-img-contaienr img {
    width: 300px;
    height: 280px;
}

/* .teamAll {
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */

.teams-img-contaienr {
    /* width: 40%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}



.teams-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0px;
}

.second-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FF900E;
}

.teams-content {
    width: 30%;
}

.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FFF;
    margin: 50px auto;
}

/* media query style */
/* small device realated style */
@media screen and (max-width:576px) {
    .nav-title {
        font-size: 30px;
    }

    nav {
        flex-direction: column;
        text-align: center;
        margin: 0px auto;
        padding: 0px;
        margin: 0px;
    }

    header {
        padding: 0px;
    }

    nav ul {
        flex-direction: column;
        padding: 0px;
    }

    nav li {
        margin-right: 10px;
        font-weight: 500;
        font-size: 1rem;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    /* main device */
    .teams-img-contaienr {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .teams-img-contaienr img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .teams-container {
        /* display: flex; */
        /* flex-direction: column; */
        flex-wrap: wrap-reverse;
        /* justify-content: center; */
        align-items: center;
        gap: 50px;
        background-color: #FFF;
        margin:0px;
    }
    .teams-content {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}


/* mediam device responsive */
@media screen and (min-width:576px) and (max-width:990px) {
    header {
        padding: 0px;
    }

    nav {
        flex-direction: column;
        line-height: 50px;
        padding-top: 50px;
    }

    nav ul {
        display: flex;
        text-align: center;
    }

    .banner-title {
        margin-top: 50px;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }
    .teams-img-contaienr {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 20px; */
    }
    .teams-img-contaienr img {
        /* width: 250px;
        height: 220px; */
        width: 100%;
        height: 100%;
    }
    .teams-container {
        flex-wrap: wrap-reverse;
        gap: 20px;
        margin: 0px;
    }
    .teams-content {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
    }
}